{% extends "layout.html" %}
{% block content %}
    <h2>Add to collection</h2>
    <form action="edit_collection" method="POST">
        <!-- Collection name: <input type="text" name="collection_name"><br> -->
        Machines:<br>
            <textarea style="resize:none" rows="5" cols="30" name="machine_names" placeholder="Enter 1 title per line"></textarea><br>
            <input type="hidden" name="collection_id" value={{ collection_id }}>
            <input type="submit" value="Create">
    </form>
{% endblock %}