{% extends "layout.html" %}
{% block content %}
    <h2>Raise new issue for {{ machine.name }}</h2>
    <form action="/input_new_issue" method="POST">
        Description:<br>
            <textarea style="resize:none" rows="5" cols="30" name="issue_content" autofocus></textarea><br>

        <p>How severe is this?<br>
        <select name="severity">
            <option value=1>Not at all</option>
            <option value=2>Somewhat severe</option>
            <option value=3>Very severe</option>
        </select></p>
        <input type="hidden" name="machine_id" value={{ machine.id }}>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Send">
    </form>
{% endblock %}